server:
  port: 8762
eureka:
  instance:
    hostname: peer2
  client:
    healthcheck:
      enabled: true # 启用健康认证
    service-url:
      defaultZone: http://${spring.security.user.name}:${spring.security.user.password}@peer1:8761/eureka
  server:
    enable-self-preservation: false # 自我保护机制，开发环境关闭 生产环境打开

